<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--Logger name in nlog-->
    <loggingConfig key="nlog.loggerName" value="GR_log"/>

    <!--Path to the settings folder-->
    <settingsConfig key="SettingsFolder" value="settins"/>
    <!--Settings file template-->
    <settingsConfig key="TemplateSettingFile" value="GetcuReone_Settings*.xml"/>
    <!--The path to the file with the types of settings-->
    <settingsConfig key="SettingTypesFile" value="settins\GetcuReone_SettingTypes.xml"/>
</configuration>
