<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <section name="logging">
        <!--Logger name in nlog-->
        <config key="nlog.loggerName" value="GR_log"/>
    </section>

    <section name="settings">
        <!--Path to the settings folder-->
        <config key="SettingsFolder" value="settins"/>
        <!--Settings file template-->
        <config key="TemplateSettingFile" value="GetcuReone_Settings*.xml"/>
        <!--The path to the file with the types of settings-->
        <config key="SettingTypesFile" value="settins\GetcuReone_SettingTypes.xml"/>
    </section>

</configuration>
